<!-- encrypted.html -->
{{define "content"}}
<div class="encrypted">
    <pre>Your new key was generated
    Public address of the key: {{.Address}}
    Path of the secret key file: {{.FilePath}}
    You can share your public address with anyone. Others need it to interact with you.
    You must NEVER share the secret key with anyone! The key controls access to your funds!
    You must BACKUP your key file! Without the key, it's impossible to access account funds!
    You must REMEMBER your password! Without the password, it's impossible to decrypt the key!
    </pre>
</div>
{{end}}