<!-- index.html -->
{{define "content"}}

<form action="/generate_raw" method="post">
    <label for="network_id">Network ID:</label>
    <input type="text" id="network_id" name="network_id"><br><br>
    <input type="submit" value="Generate raw wallet values">
</form>
<p>&nbsp;</p>
OR
<p>&nbsp;</p>
<form action="/generate_encrypted" method="post">
    <label for="network_id">Network ID:</label>
    <input type="text" id="network_id_encrypted" name="network_id"><br><br>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="pass"><br><br>
    <label for="pass_repeat">Repeat password:</label>
    <input type="password" id="pass_repeat" name="pass_repeat"><br><br>
    <label for="path">Path to store keyfile (Leave empty to save in the same directory where is the program):</label>
    <input type="string" id="path" name="path"><br><br>
    <input type="submit" value="Generate json wallet file">
</form>
<p>&nbsp;</p>
OR
<p>&nbsp;</p>
<form action="/exit" method="post">
    <input type="submit" value="Exit">
</form>

{{end}}